body {
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
}
section {
  height: 100vh;
  /* display: flex; */
  padding: 10px;
  justify-content: left;
  /* align-items: center; */
  font-size: 24px;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  margin-right: 20px; /* Add some spacing between menu items */
}
#menu li:last-child {
  margin-right: 0; /* Remove margin from the last item to avoid extra spacing */
}
#menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.content-section {
  padding: 60px; /* Add padding to the section for space around its content */
  text-align: left;
  /* margin-left: 0px; */
}

h1 {
  margin-bottom: 60px;
}

h2 {
  margin-bottom: 60px; /* Add margin at the bottom of the heading */
}

p {
  margin-top:40px;
  margin-bottom: 40px; /* Add margin at the bottom of the paragraphs */
  text-align: left;
}

div {
  /* margin-top: 120px; */
  margin-bottom:80px;
}
.spacer {
  height: 100px;
}
.sticky-buttons {
  position: sticky;
  bottom: 10px;
  padding-top: 40px;
}

.footnote {
  position: sticky;
  bottom: 20px;
  /* padding-top: 200px; */
}

button {
  display: block;
  margin: 5px 5px;
}
